In [192]:
#import all the required libraries
import pandas as pd
import selenium
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

In [193]:
driver=webdriver.Chrome("C:\\Users\\Preeti kumari\\chromedriver.exe")

<ipython-input-193-56a44a4849dd>:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome("C:\\Users\\Preeti kumari\\chromedriver.exe")

In [194]:
url="https://trak.in/india-startup-funding-investment-2015/"

In [195]:
driver.get(url)

In [196]:
datee=[]

In [197]:
date=driver.find_elements_by_xpath("//td[@class='column-2']")
for i in date:
    if i.text is None :
        datee.append("--") 
    else:
        datee.append(i.text)
    
datee[34:64]

['08/09/2020',
 '12/09/2020',
 '09/09/2020',
 '02/09/2020',
 '09/09/2020',
 '07/09/2020',
 '07/09/2020',
 '31/08/2020',
 '31/08/2020',
 '03/09/2020',
 '15/08/2020',
 '13/08/2020',
 '13/08/2020',
 '04/08/2020',
 '11/08/2020',
 '12/08/2020',
 '14/08/2020',
 '10/08/2020',
 '07/08/2020',
 '13/08/2020',
 '15/07/2020',
 '16/07/2020',
 '16/07/2020',
 '14/07/2020',
 '13/07/2020',
 '09/07/2020',
 '10/07/2020',
 '15/07/2020',
 '14/07/2020',
 '13/07/2020']

In [198]:
date_=pd.DataFrame(datee)

In [199]:
import re

In [200]:
date_.loc[date_[0].str.contains('/07/2020',flags=re.I,regex=True)]

             0
54  15/07/2020
55  16/07/2020
56  16/07/2020
57  14/07/2020
58  13/07/2020
59  09/07/2020
60  10/07/2020
61  15/07/2020
62  14/07/2020
63  13/07/2020

In [201]:
d2=date_.loc[date_[0].str.contains('/08/2020',flags=re.I,regex=True)]
d2

             0
41  31/08/2020
42  31/08/2020
44  15/08/2020
45  13/08/2020
46  13/08/2020
47  04/08/2020
48  11/08/2020
49  12/08/2020
50  14/08/2020
51  10/08/2020
52  07/08/2020
53  13/08/2020

In [202]:
d3=date_.loc[date_[0].str.contains('/09/2020',flags=re.I,regex=True)]
d3

             0
34  08/09/2020
35  12/09/2020
36  09/09/2020
37  02/09/2020
38  09/09/2020
39  07/09/2020
40  07/09/2020
43  03/09/2020

In [203]:
#from above we can see range for the month of july,aug and sept is frm 34 to 64 so now we will extract all the columns and then just extract from the range 34-64

In [232]:
co=[]

In [233]:
date=driver.find_elements_by_xpath("//td[@class='column-2']")
for i in date:
    if i.text is None :
        co.append("--") 
    else:
        co.append(i.text)

C:\Users\Preeti kumari\anaconda3\lib\site-packages\selenium\webdriver\remote\webdriver.py:470: UserWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  warnings.warn("find_elements_by_* commands are deprecated. Please use find_elements() instead")

In [234]:
co=co[34:64]

In [235]:
co2=[]
co3=[]
co4=[]
co5=[]
co6=[]
co7=[]
co8=[]

In [236]:
date=driver.find_elements_by_xpath("//td[@class='column-3']")
for i in date:
    if i.text is None :
        co2.append("--") 
    else:
        co2.append(i.text)

In [237]:
date=driver.find_elements_by_xpath("//td[@class='column-4']")
for i in date:
    if i.text is None :
        co3.append("--") 
    else:
        co3.append(i.text)

In [238]:
date=driver.find_elements_by_xpath("//td[@class='column-5']")
for i in date:
    if i.text is None :
        co4.append("--") 
    else:
        co4.append(i.text)

In [239]:
date=driver.find_elements_by_xpath("//td[@class='column-6']")
for i in date:
    if i.text is None :
        co5.append("--") 
    else:
        co5.append(i.text)

In [240]:
date=driver.find_elements_by_xpath("//td[@class='column-7']")
for i in date:
    if i.text is None :
        co6.append("--") 
    else:
        co6.append(i.text)

In [241]:
date=driver.find_elements_by_xpath("//td[@class='column-8']")
for i in date:
    if i.text is None :
        co7.append("--") 
    else:
        co7.append(i.text)

In [242]:
date=driver.find_elements_by_xpath("//td[@class='column-9']")
for i in date:
    if i.text is None :
        co8.append("---") 
    else:
        co8.append(i.text)

In [243]:
co2=co2[34:64]
co3=co3[34:64]
co4=co4[34:64]
co5=co5[34:64]
co6=co6[34:64]
co7=co7[34:64]
co8=co8[34:64]

#now we will extract all the columns and then just extract from the range 34-64

In [244]:
data=list(zip(co,co2,co3,co4,co5,co6,co7,co8))

In [245]:
df=pd.DataFrame(data,columns=["Date","Startup_name","Industry/Vertical","Sub-Vertical","City","Investor's Name","Investment_type","Amount(In USD)"])

In [246]:
df

,Date,Startup_name,Industry/Vertical,Sub-Vertical,City,Investor's Name,Investment_type,Amount(In USD)
0,08/09/2020,Byju’s,EduTech,Online Tutoring,Bangalore,"Silver Lake, Tiger Global, General Atlantic an...",Private Equity,"500,000,000"
1,12/09/2020,mCaffeine,Personal Care,Skincare & Haircare,Mumbai,"Amicus Capital Private Equity I LLP, Amicus Ca...",Series B,"3,000,000"
2,09/09/2020,Qshala,EduTech,Online Curiosity Platform for Kids,Bangalore,Rainmatter Capital,Angel,"370,000"
3,02/09/2020,Winzo,Online Gaming,Online Gaming,New Delhi,"Kalaari Capital Partners, IndigoEdge Managemen...",Series B,"15,500,000"
4,09/09/2020,Hippo Video,Video Customer Experience(CX) Platform,Video Customer Experience(CX) Platform,"Newark, Delaware, United States of Amercia","Alpha Wave Incubation, Exfinity Venture Partne...",Series A,"4,500,000"
5,07/09/2020,Melorra,E-commerce,Online Jewelry Store,Bangalore,"Shadow Holdings, Lightbox.",Debt Financing,"upto 8,900,000"
6,07/09/2020,1mg,E-commerce,Online Pharmacy,Gurgaon,"Gaja Capital, Tata Capital, Partners Group",In Progress,"100,000,000"
7,31/08/2020,mfine,HealthTech,On-Demand Healthcare Services,Bangalore,Caretech Pte Inc,Series B,"5,400,000"
8,31/08/2020,Apna,Human Resources,Recruitment Platform,Bangalore,Lightspeed India and Sequoia Capital India,Series A,"8,000,000"
9,03/09/2020,Railofy,Transportation,WL & RAC protection platform,Mumbai,Chiratae Ventures,Seed,"950,000"
10,15/08/2020,Practo,HealthTech,Health care and Wellness,Bangalore,A1A Company,Series F,"32,000,000"
11,13/08/2020,Medlife,E-commerce,Online Pharmacy,Bangalore,Prasid Uno Family Trust and SC Credit Fund,,"23,000,000"
12,13/08/2020,HungerBox,FoodTech,Online Food Delivery Service,Bangalore,"One97, Sabre Partners Trust, Pratithi Investme...",Series D1,"1,560,000"
13,04/08/2020,Dunzo,Hyper-local Logistics,Online Delivery Services,Bangalore,Existing Backers,In Progress,"30,000,000"
14,11/08/2020,Terra.do,EduTech,"Online Climate School, E-learning","Stanford, California,","Stanford Angels and Entrepreneurs (India), BEE...",Seed,"1,400,000"
15,12/08/2020,Classplus,EduTech,"E-learning, Online Tutoring",Noida,Falcon Edge,In Progress,"upto 15,000,000"
16,14/08/2020,Niyo,FinTech,Financial Services,Bangalore,Niyo Solutions Inc.,,"6,000,000"
17,10/08/2020,ZestMoney,FinTech,Financial Services,Bangalore,Primrose Hills Ventures,,"10,670,000"
18,07/08/2020,FreshToHome,E-commerce,Food Delivery,Bangalore,Ascent Capital,Venture,"16,200,000"
19,13/08/2020,Eduvanz,FinTech,Financial Services,Mumbai,"Sequoia India, Unitus",Series A,"5,000,000"
20,15/07/2020,Flipkart,E-commerce,E-commerce,Bangalore,Walmart Inc,M&A,"1,200,000,000"
21,16/07/2020,Vedantu,EduTech,Online Tutoring,Bangalore,Coatue Management,Series D,"100,000,000"
22,16/07/2020,Crio,EduTech,Learning Platform for Developers,Bangalore,021 Capital,pre-Series A,"934,160"
23,14/07/2020,goDutch,FinTech,Group Payments,Mumbai,"Matrix India,Y Combinator, Global Founders Cap...",Seed,"1,700,000"
24,13/07/2020,Mystifly,Airfare Marketplace,"Ticketing, Airline Retailing, and Post-Ticketi...",Singapore and Bangalore,Recruit Co. Ltd.,pre-Series B,"3,300,000"
25,09/07/2020,JetSynthesys,Gaming and Entertainment,Gaming and Entertainment,Pune,Adar Poonawalla and Kris Gopalakrishnan.,Venture-Series Unknown,"400,000"
26,10/07/2020,gigIndia,Marketplace,"Crowd Sourcing, Freelance",Pune,Incubate Fund India and Beyond Next Ventures,pre-Series A,"974,200"
27,15/07/2020,PumPumPum,Automotive Rental,Used Car-leasing platform,Gurgaon,Early Adapters Syndicate,Seed,"292,800"
28,14/07/2020,FLYX,OTT Player,Streaming Social Network,New York and Delhi,"Raj Mishra, founder of AIT Global Inc",pre-Seed,"200,000"
29,13/07/2020,Open Appliances Pvt. Ltd.,Information Technology,Internet-of-Things Security Solutions,Bangalore,Unicorn India Ventures,Venture-Series Unknown,"500,000"